@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Quicksand:wght@400;500;700&display=swap");
/* 
font-family: 'Philosopher', sans-serif;
font-family: 'Quicksand', sans-serif; */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Philosopher", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  background: rgb(34, 33, 33);
}

img {
  display: inline-block;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
}

.personal {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
}

.personal__img {
  grid-column: span 6;
  backdrop-filter: blur(10px);
  min-height: 100vh;
}

.personal__heading {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  color: #fdfdfd;
  text-shadow: -2px 0 8px #000000, -2px 0 8px #000000;
  letter-spacing: 1px;
  margin-block: 2rem;

  @media (max-width: 500px) {
    & {
      font-size: 1.5rem;
    }
  }
}

.personal__story {
  backdrop-filter: blur(10px);
  div {
    background-color: #242831;
    color: #e9b722;
    font-size: 2rem;
    padding: 4rem 4rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 1rem;
  }
  button {
    margin-top: 2rem;
    border: none;
    outline: none;
    display: block;
    font-size: 1.4rem;
    border-radius: 2rem;
    padding: 1rem 4rem;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s all ease;
    &:hover {
      transform: translateY(-5px);
      color: #fff;
      background-color: transparent;
      border: 2px solid #fff;
    }
  }
}

.personal__img__container {
  max-width: 1550px;
  columns: 4;
  column-gap: 10px;
  backdrop-filter: blur(10px);
  margin-inline: auto;
  padding-bottom: 2rem;
  @media (max-width: 1850px) {
    & {
      padding: 2rem;
    }
  }

  @media (max-width: 1400px) {
    & {
      columns: 3;
    }
  }

  @media (max-width: 992px) {
    & {
      columns: 2;
    }
  }

  @media (max-width: 650px) {
    & {
      columns: 1;
    }
  }

  div {
    width: 100%;
    margin-bottom: 5px;
    break-inside: avoid;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    transition: 0.6s all ease;
  }

  div > * {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 0.6s all ease;
  }

  div:hover img {
    scale: 1.5;
  }

  div p {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    scale: 0;
    padding: 4rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    backdrop-filter: blur(10px);
    transition: 0.6s all ease-out;
  }

  div:hover p {
    scale: 1;
  }
}

.personal__timeline {
  height: 100%;
  display: flex;
  padding: 2rem;
  color: #fbb900;
  grid-column: span 1;
  backdrop-filter: blur(10px);
  border-left: 2px solid #fbb900;
  font-size: 1.8rem;

  @media (max-width: 500px) {
    & {
      padding: 1rem;
    }
  }

  ul {
    list-style-type: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-bottom: 1rem;
    }
    & > li::before {
      content: "";
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      background-color: #fbb900;
      position: absolute;
      left: -2.6rem;
    }
  }
}

@media (max-width: 500px) {
  .personal__timeline ul > li::before {
    left: -1.6rem;
  }
}
