@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Quicksand:wght@400;500;700&display=swap");
/* 
font-family: 'Philosopher', sans-serif;
font-family: 'Quicksand', sans-serif; */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Philosopher", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  background: rgb(34, 33, 33);
}

img {
  display: inline-block;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
}

.personal {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
}

.personal__img {
  grid-column: span 6;
  padding-block: 2rem;
}

.personal__heading {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  @media (max-width: 500px) {
    & {
      font-size: 1.5rem;
    }
  }
}

.personal__img__container {
  max-width: 1550px;
  margin: 1rem auto;
  columns: 4;
  column-gap: 10px;
  backdrop-filter: blur(5px);

  @media (max-width: 1850px) {
    & {
      padding: 2rem;
    }
  }

  @media (max-width: 1400px) {
    & {
      columns: 3;
    }
  }

  @media (max-width: 992px) {
    & {
      columns: 2;
    }
  }

  @media (max-width: 650px) {
    & {
      columns: 1;
    }
  }

  div {
    width: 100%;
    margin-bottom: 5px;
    break-inside: avoid;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: 0.6s all ease;
  }

  div > * {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 0.6s all ease;
  }

  div:hover img {
    scale: 1.5;
  }

  div p {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    scale: 0;
    padding: 4rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    backdrop-filter: blur(5px);
    transition: 0.6s all ease-out;
  }

  div:hover p {
    scale: 1;
  }
}

.personal__timeline {
  height: 100%;
  display: flex;
  padding: 2rem;
  color: #fbb900;
  grid-column: span 1;
  backdrop-filter: blur(5px);
  border-left: 2px solid #fbb900;
  font-size: 1.8rem;

  @media (max-width: 500px) {
    & {
      padding: 1rem;
    }
  }

  ul {
    list-style-type: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-bottom: 1rem;
    }
    & > li::before {
      content: "";
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      background-color: #fbb900;
      position: absolute;
      left: -2.6rem;
    }
  }
}

@media (max-width: 500px) {
  .personal__timeline ul > li::before {
    left: -1.6rem;
  }
}
